.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.box {
  width: 500px; 
  background-color: #b1b1b150;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 30px;
  margin: 0 10px;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  background-color: #2dc8c8;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.box.active {
  border-color: #797676;
  background-color: #b1b1b1;
}